.container{
    background-color: aqua;
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    height: 30%;
    width: 30%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;

}
input, #btn{
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    border: none;
    border: 1px solid rgb(203, 201, 201);
}

input{
    border-radius: 5px;
}
#btn{
    background-color: aqua;
    color: white;
}
